# 强制屏蔽所有 TeX 文件
*.tex linguist-vendored
*.tex linguist-documentation=true
*.tex linguist-detectable=false

2D.html linguist-vendored
2D.html linguist-detectable=false

# 显式声明核心代码
*.cpp linguist-detectable=true
*.py linguist-detectable=true